h1 {
    font-family: Tahoma;
    font-size: large;
    color:black
}

p.pBlue {
    color:darkblue;
    text-decoration: underline;
}

p.pGreen {
    color: darkgreen;
    text-decoration: underline;
}

h2 {
    color:darkgreen;
}